.calculation-btn{
    color: white;
    background-image: linear-gradient(to bottom, #fd71a9 0%, #be5f84 100%);
    border: none;
    border-radius: 8px;
    padding: 6px 20px;
    cursor: pointer;
}

.notify {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background: #222436;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
}